**/bin/
**/obj/

# IDE / editor files
.idea/
.vscode/
*.sln.DotSettings.user
*.user
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.DotSettings.user

# NuGet
*.nupkg
.nuget/

# Logs
*.log
*.pdb
*.deps.json
*.runtimeconfig.json
*.assets.cache
*.AssemblyInfo.cs
*.GlobalUsings.g.cs

# OS files
.DS_Store
Thumbs.db

